.line3{
    background-color: rgb(192, 116, 161);
    color:rgb(223, 236, 234);
   
}
.divtag{
    color:hotpink;
}
.odd{
    color:darkred;
}
.even{
    color:lightseagreen;
}
.out{
    height:100px;
    width:50%;/*50% width of the body tag that the parent of the div out*/
    background-color: red;
}
.in{
    height:100px;
    width:50%;/*50% width of the div-out tag that the parent of the div in*/
    background-color: rgb(59, 25, 182);
}
.in-in{
    height:100px;
    width:50%;/*50% width of the div-in tag that the parent of the div in-in*/
    background-color: rgb(43, 201, 29);
}
p{
    font-size: 5em;
}
.box{
    
    border-radius: 10px;
    border:10px;
    height:400px;
    width:50%;
    background-color: blueviolet;
}
.inner-box{
    margin-left:100px;
    margin-bottom:50px;
    height:200px;
    width:50%;
    background-color: rgb(208, 226, 43);
}